<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>新型冠状病毒肺炎疫情大数据实时平台</title>
		<link rel="stylesheet" type="text/css" href="css/cov_index.css" />
		<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="map/js/china.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div id="header">
			<div class="header_content clearfix">
				<div class="title_panel">
					<h1>新型冠状病毒肺炎疫情大数据实时平台</h1>
				</div>
				<div class="menu_panel">
					<ul>
						<li>
							<a href="/">首页</a>
						</li>
						<li>
							<a href="/world">全球疫情数据图</a>
						</li>
						<li>
							<a href="/city">查看各省市疫情数据信息</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--顶部结束-->
		<div id="container" class="clearfix">
			<div class="fl content_left_panel">
				<div class="content_datalist_panel">
					<div class="confirm">
						<h1 class="Vtop-summer Vtop-confirm set-nowconfirm">0</h1>
						<div class="Vtop-text">
							现有确诊病例
						</div>
						<div class="Vtop-Adds">
							昨日<span class="Vtop-confirm set-cutconfirm">+0</span>
						</div>
					</div>
				</div>
				<div class="content_datalist_panel">
					<div class="confirm">
						<h1 class="Vtop-summer Vtop-confirm set-confirm">0</h1>
						<div class="Vtop-text">
							累计确诊病例
						</div>
						<div class="Vtop-Adds">
							昨日<span class="Vtop-confirm set-confirmadd">+0</span>
						</div>
					</div>
				</div>
				<div class="content_datalist_panel">
					<div class="suspect">
						<h1 class="Vtop-summer Vtop-suspect set-suspect">0</h1>
						<div class="Vtop-text">
							累计疑似病例
						</div>
						<div class="Vtop-Adds">
							昨日<span class="Vtop-suspect set-suspectadd">+0</span>
						</div>
					</div>
				</div>
				<div class="content_datalist_panel">
					<div class="heal">
						<h1 class="Vtop-summer Vtop-heal set-heal">0</h1>
						<div class="Vtop-text">
							累计治愈病例
						</div>
						<div class="Vtop-Adds">
							昨日<span class="Vtop-heal set-healadd">+0</span>
						</div>
					</div>
				</div>
				<div class="content_datalist_panel">
					<div class="dead">
						<h1 class="Vtop-summer Vtop-dead set-dead">0</h1>
						<div class="Vtop-text">
							累计死亡病例
						</div>
						<div class="Vtop-Adds">
							昨日<span class="Vtop-dead set-deadadd">+0</span>
						</div>
					</div>
				</div>
			</div>
			<div class="fl">
				<div class="clearfix">
					<div class="fl content_map_panel">
						<div id="chartmap-panel">
							
						</div>
						
						<!-- <img class="nanhai-img" src="../img/nanhai1.png" alt="">
						<img class="nanhai-duanxian" src="../img/duanxian.png" alt="">
						<img class="diaoyudao" src="../img/diaoyudao.png"/> -->
					</div>
					<div class="fl content_stack_panel">
						<div id="panel-stack" class="adds-panel-stack">
							
							<div id="adds-stack-line-panel">
	
							</div>
							
						</div>
						<div id="panel-stack">
							<div id="stack-line-panel">
	
							</div>
						</div>
						<!-- <div id="panel-stack" class="adds-panel-stack">
							
							<div id="adds-stack-line-panel">
	
							</div>
							
						</div> -->


						<div id="panel-stack">
						<div class="fl totalPie_content">
							<div id="adds-stack-line-panel">
							<div id="totalPieData">
	
							</div>
						</div>
						</div>
						</div>
					</div>

					<!-- <div class="content_pie_content clearfix">

					</div> -->
				</div>

				<!-- <div class="fl otherCountryBar_content">
					<div id="countryBarData">

					</div>
				</div> -->
			</div>

		</div>

		<!--底部-->
		<div id="footer">
			<div class="copyright">
				<div class="">
					实时数据来源于腾讯API
				</div>
				<div class="">
					Made by e4glet
					<br />
					<a href="https://github.com/e4glet">https://github.com/e4glet</a>
					<a href="https://gitee.com/e4glet">https://gitee.com/e4glet</a>
				</div>
			</div>
		</div>

		<script src="js/cov_index.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>