<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>新型冠状病毒肺炎疫情大数据实时平台</title>
		<link rel="stylesheet" type="text/css" href="css/cov_world.css" />
		<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="map/js/world_cn.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			#container{
				margin: 0 auto;
				width: 1400px;
			}
			.echarts_world{
				width: 1400px;
				height: 800px;
			}
		</style>
	</head>
	<body>
		<div id="header">
			<div class="header_content clearfix">
				<div class="title_panel">
					<h1>新型冠状病毒肺炎疫情大数据实时平台</h1>
				</div>

				<div class="menu_panel">
					<ul>
						<li>
							<a href="/">首页</a>
						</li>
						<li>
							<a href="/world">全球疫情数据图</a>
						</li>
						<li>
							<a href="/city">查看各省市疫情数据信息</a>
						</li>
					</ul>

				</div>
			</div>
		</div>
		<div id="container">
			<div class="">
				<h1>新型冠状病毒肺炎全球疫情图</h1>
				<h4>数据来源：腾讯数据接口 <span class="updatetime"></span> </h4>
			</div>
			<div id="chartmap-panel" class="echarts_world">
				
			</div>
		</div>
		<!--底部-->
		<div id="footer">
			<div class="copyright">
				<div class="">
					实时数据来源于腾讯API
				</div>
				<div class="">
					Made by e4glet
					<br />
					<a href="https://github.com/e4glet">https://github.com/e4glet</a>
					<a href="https://gitee.com/e4glet">https://gitee.com/e4glet</a>
				</div>
			</div>

		</div>
		<script src="js/cov_world.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
